body{
  color: #5494a9;
}
p{
  font-family:"sans-serif";
  margin-left: 40px;
  font-size: 20px;

}
#content{
  font-size: 20px;
  background-color: #ffdf83;
  width: auto;
  min-height: 300px;
  margin: auto;
  padding: 50px;
}

#output{
    border: 3px double black;
    font-size: 24px;
    background-color: white;
    letter-spacing: 1px;
}
a{
  color:white;
  font-size: 20px;
}
