h1{
  color: #a71d95;
  font-size: 300%;
  margin-left: -40px;
}
p{
  font-family:"sans-serif";
  margin-left: -40px;
  font-size: 20px;

}
#content{
  font-size: 20px;
  background-color: #40c7bb;
  width: 500px;
  min-height: 300px;
  padding: 100px;
  margin: 100px;
  border:solid: 1px #444444
}
img {
  width: 400px;
  height: auto;
}
